- provide :title, '推荐订阅'
%section
  %header
    %h1 推荐订阅
  %section#recommends
    %ul.categories_list
      - @categories.each do |category|
        %li
          .category
            %h2= link_to category.name, category
            %p= link_to category_brands_tag(category), category
          %ul.brands_normal
            = render category.brands.limit(5)
