.author
  = link_to author_avatar(post.author), user_path(post.author)
  %p
    = link_to post.author.name, user_path(post.author)
    发在
    = link_to post.brand.title, brand_path(post.brand)
  - if post.updated_at
    = time_tag post.updated_at, time_ago_in_words(post.updated_at)+"前"
