- if @post.respond_to? :title
  %section#post-title
    %h1= @post.title
- if @post.respond_to? :evas
  %section#post-evas
    = render 'shared/evas', evas: @post.evas
%section#post-photos
  #imagezone    
    - photo = @post.photos.first
    = link_to photo_tag(photo, :big), 
    image_url(:photo, photo.image, :origin)
%section#post-content
  %p= nl2br @post.content
- content_for :script do
  :javascript
    $(Pincool.postShow)
