/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require h5bp.3.0.2
 *= require chosen
 *= require_self
 *= require_tree .
*/

@import "base";

/* reset */

ul, ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

h1, p {margin: 0;}

button, input {
   padding: 0;

   &:active {
      outline: none;
   }
}

dl, dt, dd {
   margin: 0;
}

input[type="search"] {
   -webkit-appearance: none;
}

input:focus {
   outline: none;
   -webkit-appearance: none;
}

textarea {
   padding: 0;

   &:focus {
      outline: none;
   }
}

:required {
   outline: none;
   box-shadow: none;
}

:visited {
   outline: none;
}

a {
   &:focus {outline: none}
   &:active {outline: none}
   &:visited {outline: none}
}

/* base styles */

body, input, label, select, option, textarea, button, fieldset, legend {
   font: {
      family: "Hiragino Sans GB", arial, sans-serif;
      size: 12px;
   }
   color: #333;
}

a {
   $link_color: #158d9f;
   color: $link_color;
   text-decoration: none;

   &:hover {
      color: $link_color;
   }

   &:visited {
      color: $link_color;
   }
}

:-moz-placeholder {
   color: #ccc;
}

::-webkit-input-placeholder {
   color: #ccc;
}

body {
   background: image-url("bg.gif")
}

.people_thumb_small {
   width: 30px;
   height: 30px;
}

.people_thumb_big {
   width: 80px;
   height: 80px;
}

/* .brand_thumb_small { */
/*    width: 40px; */
/*    height: 40px; */
/* } */

/* .brand_thumb_big { */
/*    width: 80px; */
/*    height: 80px; */
/* } */

button {
   @include button-style;
   margin: 0 5px;
   width: 80px;
   height: 30px;

   &:active {
      padding-left: 2px;
   }
}

.weibo {
   display: inline-block;
   text-indent: -1000em;
   width: 20px;
   height: 20px;
   // Weibo icon as background
}

table {
   width: 100%;

   tr {
      line-height: 2em;

      th, td {
         font-size: 1.2em;
         text-align: center;
      }

      &:nth-child(even) {
         background-color: #f4f4f4;
      }
   }
}

nav.pagination {
   text-align: right;
   padding: 10px;
}

.edit_tips {
   display: inline-block;
   background-color: #ffc;
   color: $site-aux-text-color;
   padding: 3px;
   vertical-align: 5px;
}

.author {
   color: $site-aux-text-color;

   img {
      float: left;
      margin-right: 10px;
   }

   time {
      color: $site-aux-text-color;
   }
}

.brands_list {
   @include clearfix;

   .brand {
      float: left;
      margin: 0 5px 20px;
      text-align: center;

      .brand_logo {
         position: relative;
         display: block;
         margin: 0 auto;
         border: 1px solid #eee;
         padding: 20px 0;
         width: 140px;
         height: 40px;
         @include border-radius(3px);

         &:hover {
            border-color: #ccc;
            @include background(linear-gradient(#fff, #eee));
         }

         &:active {
            @include box-shadow(inset 0 0 3px rgba(153,153,153,0.8));
            @include background(#f7f7f7);
         }
      }

      .brand_title {
         display: block;
         margin-top: 10px;
      }

      p {
         margin: 5px 0;
         color: $site-aux-text-color;
      }

      ul.evaluation {
         padding: 0 10%;
         text-align: left;

         li {
            line-height: 3px;
            .eva_container {
               width: 100%;
               line-height: 7px;
               font-size: 0;
               background-color: transparent;
            }
         }
      }

   }
}

.brands_normal {
   .brand {
      padding: 5px;
      overflow: hidden;

      img {
         float: left;
         margin-right: 10px;
      }

      .brand_title {
         display: block;
         padding-top: 5px;
         font-size: 1em;
      }

      p {
         padding-top: 2px;
         color: $site-aux-text-color;
      }
   }
}

.categories_list {
   border-bottom: 1px solid #ccc;
   margin-bottom: 20px;

   > li {
      .category {
         line-height: 40px;
         border-bottom: 1px solid #fff;
         border-top: 1px solid #ccc;
         background-color: #f4f4f4;
         @include border-radius(3px);
         cursor: pointer;
         
         &:hover {background-color: #ffc;}

         h2, p {
            display: inline-block;
         }

         h2 {
            margin: 0 0 0 1em;
            width: 25%;
            font-size: 1.2em;
         }

         p {
            width: 70%;
            color: $site-aux-text-color;
         }
      }

      .category.current {
         background-color: #ffc;
      }

      .brands_list {
         display: none;
         margin-top: 10px;
      }
   }
}

/* header */

body.signed_in > header {
   $header-text-color: $site-aux-text-color;

   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   right: 0;
   height: 50px;
   @include background(linear-gradient(#fff, #f4f4f4));
   @include box-shadow(0 1px 2px #ccc);

   > nav {
      margin: 0 auto;
      width: $site-width+40px;
      color: $header-text-color;

      #logo {
         float: left;
         margin-top: 11px;
         opacity: 1;

         img:hover{
            opacity: 0.6;
         }
      }

      ul#navigator {
         float: left;
         width: 50%;
         margin-left: 10%;

         > li {
            float: left;
            width: 25%;

            a {
               display: inline-block;
               width: 100%;
               color: $header-text-color;
               line-height: 51px;
               text-align: center;

               &:hover {
                  color: white;
                  @include background(linear-gradient(#999, #333));
               }
            }
         }
      }

      #current_user {
         float: right;
         position: relative;
         margin-right: -2px;
         padding: 10px 15px 10px 20px;
         width: 15%;
         background: image-url("current_user_menu.png") no-repeat 90% center;

         img {
            vertical-align: middle;
         }

         strong {
            color: $header-text-color;
            margin: 0 2px 0 6px;
            vertical-align: middle;
         }

         > ul {
            position: absolute;
            margin-top: 10px;
            width: 100%;
            left: -1000em;

            li {
               text-align: center;

               a {
                  display: inline-block;
                  width: 99%;
                  line-height: 40px;
                  border: 1px solid #ccc;
                  border-top: none;
                  color: $header-text-color;
                  @include background(linear-gradient(white, #f4f4f4));

                  &:hover {
                     color: white;
                     border-color: #999;
                     background: #999;
                  }
               }
            }
         }

         &:hover {
            @include background(image-url("current_user_menu_open.png") no-repeat 90% center,
                        linear-gradient(#999, #333));

            strong {
               color: white;
            }

            > ul {
               left: 0;
            }
         }
      }
   }
}

.no-boxshadow body > header.signed_in {
   border-bottom: 1px solid #999;
}

/* section */

body.signed_in > section {
   position: relative;
   width: $site-width;
   margin: 70px auto 0 auto;
   padding: 20px;
   background-color: white;
   border: 1px solid #ccc;
   @include box-shadow(0 1px 3px #999);

   > header {
      margin-bottom: 20px;
      border-bottom: 1px solid $site-border-color;
      padding-bottom: 20px;
      > h1 {@include section-head;}
      > nav {@include section-nav;}
   }
}

/* footer */

body.signed_in > footer {
   height: 100px;
}

/* evaluations */

ul.evaluation {
   li {
      * {display: inline-block;}

      .eva_name {
         background: #333;
         color: white;
         vertical-align: bottom;
         text-align: center;
      }

      .eva_container {
         .eva_points {
            @include border-radius(2px);
            @include opacity(1);
            &:hover{
               @include opacity(0.8);
            }
         }

         .eva_points_transition {
            @include transition(width 1s ease 0s, opacity 0.22s ease-out 0s);
         }
      }
   }

   li.sensibility {
      .eva_container {
         background: #f8e5e7;
         .eva_points {
            @include background(linear-gradient(left center, #f66, #c66));
         }
      }
      .eva_display_points {
         color: #f66;
      }
   }

   li.rationality {
      .eva_container {
         background: #edf5fe;
         .eva_points {
            @include background(linear-gradient(left center, #39f, #06f));
         }
      }
      .eva_display_points {
         color: #39f;
      }
   }

   li.economy {
      .eva_container {
         background: #f9ffeb;
         .eva_points {
            @include background(linear-gradient(left center, #9c3, #6c3));
         }
      }
      .eva_display_points {
         color: #9c3;
      }
   }
}


/*file upload*/

#dropzone {
   margin: 20px 0;
   width: 50%;
   height: 20%;
   border: 1px dashed $site-border-color;
   text-align: center;
   color: $site-aux-text-color;
   p {margin: 10% auto;}
}

#dropzone.dragover {
   background-color: #ffc;
}

#dropzone.submitting {
   @include loading-small;
}

#dropzone.success {
   color: #9c3;
}

#dropzone.fail {
   color: #f66;
}
