@import "base";

#articles {
   position: relative;
   margin: 0 auto;

   > header {
      margin-bottom: 20px;
      > h1 {@include section-head;}
      > nav {@include section-nav;}
   }

   article.post {
      position: absolute;
      padding: 20px 20px 0;
      line-height: 1.5;
      border: 1px solid #ccc;

      &:hover{background: #fff;}

      &:after {
         @include triangle;
         top: 0;
         right: 0;
         border-right: 20px solid white;
         border-left: 20px solid transparent;
         border-bottom: 20px solid transparent;
      }

      > section {
         img, h1, ul, p {margin-bottom: 10px;}

         img {
            max-width: 100%;
            @include site-transition;
            &:hover {@include opacity(0.9);}
         }

         h1 {
            font-size: 1.2em;
            font-weight: normal;
            color: #777;
         }

         ul.evaluation {
            width: 100%;

            > li {
               width: 100%;
               margin-bottom: .5em;
               .eva_container {width: 100%;}
               .eva_points {height: 30px;}
            }
         }

         p {
            word-wrap: break-word;
         }
      }

      > footer {
         line-height: 1.4;
         margin-bottom: 10px;
      }
   }

   article.review:after {
      border-right-color: #4694fd;
   }
   article.feeling:after {
      border-right-color: #f7646a;
   }

   .posts_loading {
      width: 100%;
      height: 5em;
      @include loading-small;
   }
}

#gototop {
   display: none;
   position: fixed;
   bottom: 5%;
   right: 5%;
   width: 50px;
   height: 50px;
   background: transparent url("goto_top.png") no-repeat center center;
   cursor: pointer;
}
