@import "base";

body#brands {

   header.brand_head {
      padding: 20px 0 30px;
      $text-color: #999;
      @include clearfix;

      #title {
         float: left;
         width: 22%;
         height: 100%;
         margin-right: 20px;
         text-align: center;
         position: relative;

         img {
            display: block;
            margin: 0 auto 25px;
         }

         #follow_toggle {
            button {
               @include button_style;
               display: block;
               margin: 0 auto;
               padding-left: 18%;
               width: 120px;
               height: 40px;
            }
            button.follow {
               @include background(image-url("subscribe.png") no-repeat 11% center,
                  image-url("split_line.png") no-repeat 33% center,
                     linear-gradient(#fff, #ddd));
            }
            button.unfollow {
               @include background(image-url("unsubscribe.png") no-repeat 11% center,
                  image-url("split_line.png") no-repeat 33% center,
                     linear-gradient(#fff, #ddd));
            }
         }

         p {
            line-height: 1;
            color: $text-color;
            margin: 28px 0 0;

            span{
               font-size: 1.5em;
               vertical-align: text-bottom;
               margin-right: 5px;
            }
         }
      }

      #info {
         position: relative;
         float: left;
         width: 48%;
         margin-right: 5%;
         height: 100%;

         > h1 {
            display: inline;
            font-size: 1.5em;
            margin-right: 3px;
         }

         > p {
            display: inline;
            color: $text-color;
         }

         ul.evaluation {
            /* position: absolute; */
            /* bottom: 0; */
            /* left: 0; */
            /* right: 0; */

            li {
               width: 100%;
               line-height: 50px;
               margin-top: 5px;

               .eva_name {
                  width: 16%;
                  margin-right: 5px;
                  font-size: 1.2em;
               }

               .eva_container {
                  width: 81%;
               }
            }
         }
      }

      #tags {
         float: left;
         width: 20%;
         margin-top: -10px;

         h2 {
            color: $text-color;
            margin-bottom: 25px;
            font-size: 1.2em;
         }

         li {
            display: inline-block;
            margin-bottom: 2em;
            margin-right: .4em;

            a{
               padding: .6em;
               color: #fff;
               @include border-radius(3px);
               @include background(rgba(0, 162, 199, 0.3));
               @include transition(all 0.22s ease-out);

               &:hover {
                  @include background(rgba(0, 162, 199, 0.6));
                  font-weight: bold;
               }
            }
         }
      }
   }

   section.brand_form {
      input[type="text"] {
         @include inline-edit-input;
         font-size: 1.2em;
         height: 1.7em;
      }

      input[type="text"]#brand_title {
         font-size: 1.5em;
      }

      .field {
         margin: 30px 0;

         .prefix {
            color: #999;
            font-size: 1.2em;
         }

         label {
            display: block;
            color: #999;
         }

         .field_with_errors {
            label.message {
               display: inline;
               margin-left: 2em;
               color: #f66;
            }
         }

         .prefix+.field_with_errors {
            display: inline;
         }
      }

      .action {
         text-align: right;
         padding-right: 10em;
      }



      #dropzone {
         margin: 20px 0;
         width: 300px;
         height: 100px;
         border: 1px dashed $site-border-color;
         text-align: center;
         color: #999;
         p {
            margin: 15% auto;
         }
         img {
            float: left;
            margin: 10px;
         }
      }

      #dropzone.dragover {
         background-color: #ffc;
      }

      #dropzone.submitting {
         background: image-url("file_loader.gif") no-repeat center;
      }

      #dropzone.success {
         color: #9c3;
      }

      #dropzone.fail {
         color: #f66;
      }
   }
}
