@import "base";

body#brands_new {
   input[type="text"] {
      @include inline-edit-input;
      font-size: 1.5em;
      height: 1.7em;
   }

   .field {
      margin: 30px 0;
   }

   label {
      display: block;
      color: #999;
   }

   #dropzone {
      margin: 20px 0;
      width: 300px;
      height: 100px;
      border: 1px dashed $site-border-color;
      text-align: center;
      color: #999;
      p {
         margin: 15% auto;
      }
      img {
         float: left;
         margin: 10px;
      }
   }

   #dropzone.dragover {
      background-color: #ffc;
   }

   #dropzone.submitting {
      background: image-url("file_loader.gif") no-repeat center;
   }

   #dropzone.success {
      color: #9c3;
   }

   #dropzone.fail {
      color: #f66;
   }
}
