@import "base";

body#brands {

   header#brand_head {
      padding: 20px 0 30px;
      $text-color: $site-aux-text-color;
      @include clearfix;

      #title {
         float: left;
         width: 22%;
         height: 100%;
         margin-right: 20px;
         text-align: center;
         position: relative;

         img {
            display: block;
            margin: 0 auto 25px;
         }

         #follow_toggle {
            button {
               display: block;
               @include button-style;
               margin: 0 auto;
               width: 120px;
               height: 40px;
            }
            button.follow {
               padding-left: 18%;
               @include background(image-url("subscribe.png") no-repeat 11% center,
               image-url("split_line.png") no-repeat 33% center,
                  linear-gradient(#fff, #ddd));
            }
         }

         p {
            line-height: 1;
            color: $text-color;
            margin: 28px 0 0;

            span{
               font-size: 1.5em;
               vertical-align: text-bottom;
               margin-right: 5px;
            }
         }
      }

      #info {
         position: relative;
         float: left;
         width: 48%;
         margin-right: 5%;
         height: 100%;

         > h1 {
            display: inline;
            font-size: 1.5em;
            margin-right: 3px;
            @include site-title;
         }

         > p {
            display: inline;
            color: $text-color;
         }

         ul.evaluation {
            li {
               width: 100%;
               line-height: 50px;
               margin-top: 5px;

               .eva_name {
                  width: 16%;
                  margin-right: 5px;
                  font-size: 1.2em;
               }

               .eva_container {
                  width: 81%;
               }
            }
         }
      }

      #tags {
         float: left;
         width: 20%;
         margin-top: -10px;

         h2 {
            color: $text-color;
            margin-bottom: 25px;
            font-size: 1.2em;
         }

         li {
            display: inline-block;
            margin-bottom: 2em;
            margin-right: .4em;

            a{
               padding: .6em;
               color: #fff;
               @include border-radius(3px);
               @include background(rgba(0, 162, 199, 0.3));

               &:hover {
                  @include background(rgba(0, 162, 199, 0.6));
                  font-weight: bold;
               }
            }
         }
      }
   }

   section#brand_publish {
      position: relative;
      
      > a {
         position: absolute;
         right: -135px;
         display: inline-block;
         margin: 0 1em;
         width: 5.5em;
         line-height: 38px;
         padding-left: 3.5em;
         @include button-style;
         @include transform(rotate(15deg));
      }

      .feeling_pub {
         top: -20px;
         @include background(image-url("feeling_pub.png") no-repeat 1em center,
               linear-gradient(#fff, #ddd));
      }
      .review_pub {
         top: 40px;
         @include background(image-url("review_pub.png") no-repeat 1em center,
                  linear-gradient(#fff, #ddd));
      }
   }

   section.brand_form {
      input[type="text"] {
         @include inline-edit-input;
         font-size: 1.2em;
         height: 1.7em;
      }

      input[type="text"]#brand_title {
         font-size: 1.5em;
      }

      .field {
         margin: 30px 0;

         .prefix {
            color: $site-aux-text-color;
            font-size: 1.2em;
         }

         label {
            display: block;
            color: $site-aux-text-color;
         }

         .field_with_errors {
            label.message {
               display: inline;
               margin-left: 2em;
               color: #f66;
            }
         }

         .prefix+.field_with_errors {
            display: inline;
         }
         
         select {
            width: 30%;
         }

         #brand_category_ids_chzn {
            .chzn-choices {
               input[type="text"] {
                  font-size: 1em;
                  height: 1em;
               }
            }
         }
      }

      .action {
         text-align: right;
         padding-right: 10em;
      }

      #dropzone {
         width: 30%;
         height: 100px;

         img {
            float: left;
            margin: 10px;
         }
      }
   }
}

