@import "base";

body#brands {

   header#brand_head {
      padding: 20px 0 30px;
      $text-color: $site-aux-text-color;
      @include clearfix;

      #title {
         float: left;
         width: 22%;
         height: 100%;
         margin-right: 20px;
         text-align: center;
         position: relative;

         img {
            display: block;
            margin: 0 auto 25px;
         }

         #follow_toggle {
            button {
               @include button-style;
               display: block;
               margin: 0 auto;
               padding-left: 18%;
               width: 120px;
               height: 40px;
            }
            button.follow {
               @include background(image-url("subscribe.png") no-repeat 11% center,
               image-url("split_line.png") no-repeat 33% center,
                  linear-gradient(#fff, #ddd));
            }
            button.unfollow {
               @include background(image-url("unsubscribe.png") no-repeat 11% center,
               image-url("split_line.png") no-repeat 33% center,
                  linear-gradient(#fff, #ddd));
            }
         }

         p {
            line-height: 1;
            color: $text-color;
            margin: 28px 0 0;

            span{
               font-size: 1.5em;
               vertical-align: text-bottom;
               margin-right: 5px;
            }
         }
      }

      #info {
         position: relative;
         float: left;
         width: 48%;
         margin-right: 5%;
         height: 100%;

         > h1 {
            display: inline;
            font-size: 1.5em;
            margin-right: 3px;
         }

         > p {
            display: inline;
            color: $text-color;
         }

         ul.evaluation {
            li {
               width: 100%;
               line-height: 50px;
               margin-top: 5px;

               .eva_name {
                  width: 16%;
                  margin-right: 5px;
                  font-size: 1.2em;
               }

               .eva_container {
                  width: 81%;
               }
            }
         }
      }

      #tags {
         float: left;
         width: 20%;
         margin-top: -10px;

         h2 {
            color: $text-color;
            margin-bottom: 25px;
            font-size: 1.2em;
         }

         li {
            display: inline-block;
            margin-bottom: 2em;
            margin-right: .4em;

            a{
               padding: .6em;
               color: #fff;
               @include border-radius(3px);
               @include background(rgba(0, 162, 199, 0.3));

               &:hover {
                  @include background(rgba(0, 162, 199, 0.6));
                  font-weight: bold;
               }
            }
         }
      }
   }

   section#brand_publish {
      @include clearfix;

      > a {
         @include button-style;
         float: right;
         margin: 0 1em;
         width: 5em;
         line-height: 3em;
         padding-left: 3em;
      }

      > a.feeling_pub {
         @include background(image-url("feeling_pub.png") no-repeat 1em center,
               linear-gradient(#fff, #eee));
      }
      > a.review_pub {
         @include background(image-url("review_pub.png") no-repeat 1em center,
               linear-gradient(#fff, #eee));
      }

   }

   section.brand_form {
      input[type="text"] {
         @include inline-edit-input;
         font-size: 1.2em;
         height: 1.7em;
      }

      input[type="text"]#brand_title {
         font-size: 1.5em;
      }

      .field {
         margin: 30px 0;

         .prefix {
            color: $site-aux-text-color;
            font-size: 1.2em;
         }

         label {
            display: block;
            color: $site-aux-text-color;
         }

         .field_with_errors {
            label.message {
               display: inline;
               margin-left: 2em;
               color: #f66;
            }
         }

         .prefix+.field_with_errors {
            display: inline;
         }
      }

      .action {
         text-align: right;
         padding-right: 10em;
      }

      #dropzone {
         width: 30%;
         height: 100px;

         img {
            float: left;
            margin: 10px;
         }
      }
   }
}


.brands_list {
   @include clearfix;

   .brand {
      float: left;
      margin: 0 5px 20px;
      text-align: center;

      .brand_logo {
         position: relative;
         display: block;
         margin: 0 auto;
         border: 1px solid #eee;
         padding: 20px 0;
         width: 140px;
         height: 40px;
         @include border-radius(3px);

         &:hover {
            border-color: #ccc;
            @include background(linear-gradient(#fff, #eee));
         }

         &:active {
            @include box-shadow(inset 0 0 3px rgba(153,153,153,0.8));
            @include background(#f7f7f7);
         }
      }

      .brand_title {
         display: block;
         margin-top: 10px;
      }

      p {
         margin: 5px 0;
         color: $site-aux-text-color;
      }

      ul.evaluation {
         padding: 0 10%;
         text-align: left;

         li {
            line-height: 3px;
            .eva_container {
               width: 100%;
               line-height: 7px;
               font-size: 0;
               background-color: transparent;
            }
         }
      }

   }
}

.brands_normal {

   .brand {
      padding: 5px;
      overflow: hidden;

      img {
         float: left;
         margin-right: 10px;
      }

      .brand_title {
         display: block;
         padding-top: 8px;
         font-size: 1em;
      }

      p {
         padding-top: 2px;
         color: $site-aux-text-color;
      }
   }
}
