@import 'base';

body#categories {
   form {
      @include admin-form;
   }

   #new_category_link {
      @include admin-new;
   }
}

.categories_list {
   border-bottom: 1px solid #ccc;
   margin-bottom: 20px;

   > li {
      .category {
         line-height: 40px;
         border-bottom: 1px solid #fff;
         border-top: 1px solid #ccc;
         background-color: #f4f4f4;
         @include border-radius(3px);
         cursor: pointer;
         
         &:hover {background-color: #ffc;}

         h2, p {
            display: inline-block;
         }

         h2 {
            margin: 0 0 0 1em;
            width: 25%;
            font-size: 1.2em;
         }

         p {
            width: 70%;
            color: $site-aux-text-color;
         }
      }

      .category.current {
         background-color: #ffc;
      }

      .brands_list {
         display: none;
         margin-top: 10px;
      }
   }
}
