@import "base";

body#invited_users {
   form {
      @include admin-form;
   }

   section > table {
      tr {
         th, td {
            width: 15%;
            
            &:nth-child(3) {
               font-size: 1em;
               width: 50%;
            }
         }
      }
   }

   section > #new_invited_user_link {
      @include admin-new;
   }
}
