@import "base";

#post_show {
   $width: 720px;
   $edit-bg-color: #ffc;

   width: $width;

   .inline_edit {
      &:focus {background: $edit-bg-color;}
   }

   .error_message {
      color: #f66;
      margin: 0 2em;
   }

   > *, > form > * {margin-bottom: 20px}

   &:after {
      @include triangle;
      top: 0;
      left: 0;
      border: {
         left: 20px solid transparent;
         bottom: 20px solid transparent;
      }
   }
   &.review:after {
      border-left-color: #4694fd;
   }
   &.feeling:after {
      border-left-color: #f7646a;
   }

   > header {
      padding: 0;
      border: none;
   }

   #post-title {
      h1 {
         display: inline;
         font-size: 1.7em;
         color: #777;
         vertical-align: bottom;
      }

      h1.edit_able {
         &:hover {background: $edit-bg-color;}
      }

      input {
         display: none;
         width: 80%;
         font-weight:bold;
         font-size: 1.7em;
         color: $site-aux-text-color;
         border: 1px solid #ddd;
         border-radius: 3px;
         padding: 5px;
      }
   }

   #post-evas {
      ul.evaluation {
         display: inline-block;
         width: 72%;

         li {
            line-height: 50px;
            margin-top: 5px;

            .eva_name {
               width: 14%;
               margin-right: 5px;
               font-size: 1.2em;
            }

            .eva_container {
               position: relative;
               width: 70%;

               .eva_point {
                  position: absolute;
                  left: 0;
                  z-index: 1000;
               }
               .eva_rating {
                  @include opacity(0.6);
               }
            }

            .eva_display_points {
               font-size: 1.2em;
               margin-left: .8em;
            }
         }
      }

      .edit_tips {vertical-align: middle;}
   }

   #post-photos {
      margin-top: 30px;

      #change_photo_link, #change_photo_form {
         display: none;
         margin-bottom: 10px;
      }

      #imagezone {
         color: $site-aux-text-color;
         img {
            max-width: $width - 10px;
            @include site-transition;
            &:hover {@include opacity(0.9);}
         }
      }

      #dropzone {
         display: none;
         width: 60%;
         height: 200px;
      }
   }

   #post-content {
      p {
         display: inline;
         font-size: 1.1em;
         line-height: 1.6em;
      }

      p.edit_able {
         &:hover {background: $edit-bg-color;}
      }

      textarea {
         display: none;
         border: 1px solid #ddd;
         border-radius: 3px;
         width: 97%;
         height: 6em;
         padding: 5px;
         line-height: 1.6em;
         color: #777;
         font-size: 1em;
         resize: vertical;
      }

      .edit_tips {
         vertical-align:1px;
      }
   }

   .action {
      text-align: right;
      > * {vertical-align: bottom;}
      button[type="submit"] {@include blue-button-style;}
   }

   footer {
      #destroy {
         float: right;
         margin-right: 2em;
      }
   }
}

#explore > #articles > header {
   background-color: #ffc;
   border-bottom: 1px solid #CCCCCC;
   text-align: center;
   line-height: 40px;
   margin: -20px -20px 40px;
}
