@import "base";

body#users {
   header.person_head {
      > * {margin-right: 1em;}
      img {vertical-align: bottom;}
   }

   section.person_content.loading_small {
      height: 100px;
      @include loading-small;
   }

   #recommends {
      .categories_list > li {
         .category {
            border: none;
         }

         .brands_normal {
            @include clearfix;
            margin: 20px;

            .brand {
               float: left;
               width: 160px;
               padding: 5px;

               form#follow_toggle {
                  margin-top: 20px;
               }
            }
         }
      }
   }

   .messages_head {
      button {
         position: relative;
         top: -25px;
         float: right;
         width: 100px;
         @include blue-button-style;
      }
   }

   .messages_content {
      ul.messages {
         > li {
            margin-bottom: 20px;
            img {float: left;}
            .message {
               margin-left: 4em;
               border-bottom: 1px dashed #ccc;
               line-height: 2em;
               padding: .5em;
               background: #ffc;
               color: $site-aux-text-color;
               cursor: pointer;

               time {margin-left: .2em;}
            }
         }
      }
   }
}
