%li.brand
  = link_to logo_tag(brand, :small), brand_path(brand), class: 'brand_logo'  
  = link_to brand.title.truncate(13), brand_path(brand), class: 'brand_title'
  %p= brand.description.truncate(13)
